.hidden{
    display:none;
}

/* General Rules */

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(19, 0, 37);
    /* text colour */
    color:white;
}

/* Main Header */

header{
    background-color:rgb(167, 157, 227);
    padding: 10px 0;
}

#main-logo{
    display:block;
    width:370px;
    /* margin top and bottom 0 left and right auto, auto means equal, centers it */
    margin:0 auto;
    padding-top:10px;
    padding-bottom:10px;
}

/* Character Nav */

#character-nav{
    background-color: #675050;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../images/fe-background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
}

#characters{
    list-style-type: none;
    padding:0; 
    /* puts images in center */
    text-align: center;
}

/* decendent selector, puts images horizontal */
#characters li {
    display: inline;
    margin:10px;
}

#characters li img {
    border: outset 10px rgb(218, 218, 218);
    padding-top: 10px;
    background-color:rgba(119, 106, 202,0.5);
    /* apply to normal state */
    transition: all .5s ease-in-out;
}

#characters li a {
    text-decoration: none;
}

#characters li img:hover {
    border-bottom-left-radius:  50%;
    border-bottom-right-radius:  50%;
    box-shadow: 0px 0px 20px 0 rgb(222, 89, 255);
}

#instructions {
    padding: 30px;
    text-align: center;
    background-image: url(../images/fe3h-text-box.png);
    background-repeat: no-repeat;
    background-position: center;
    color:black;
    
}

#instructions h3{
    font-size:20px;
    padding-top:20px;
    /* text-align: center; */
}

#instructions p {
    font-size: 14px;
    /* text-align: center; */
}

#main-footer {
    height: 80px;
    background-color: rgb(65, 58, 71);
    padding: 20px 0;
    text-align: center;
}

/* LightBox rules */

.lightbox {
    width:100vw;
    height:100vh;
    /* taking out of normal flow */
    position:absolute; 
    /* positioning */
    top:0;
    left:0;
    /* so it appears on top, think photoshop layers */
    z-index: 2;
    /* last value sets transparency */
    background-color: rgba(4, 0, 8, 0.87);
    /* lighbox by default is invisible */
    display:none;
    /* applied here so it applies to all */
    background-repeat:no-repeat;
    /* 55% of viewport height */
    background-size: 55vh;
    /* 40px from left hand side */
    background-position: 40px bottom;
}

.lightbox:target {
    /* becomes visible when you target */
    display: block;
}

#lightbox1 {
    /* ../ to get into root directory */
    background-image: url(../images/byleths.png);
    background-size:90vh;
    background-repeat:no-repeat;
}

#lightbox2{
    background-image: url(../images/edelgard.png);
    background-size:90vh;
    background-repeat:no-repeat;
}

#lightbox3 {
    background-image: url(../images/dimitri-2.png);
    background-size:80vh;
    background-repeat:no-repeat;
}

#lightbox4{
    background-image: url(../images/claude.png);
    background-size:75vh;
    background-repeat:no-repeat;
}

.lightbox-close {
    color:white;
    font-size:50px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 95vw;
    transition: all .5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}

.lightbox-close:hover {
    color:red;
}

.lightbox section {
    width: 600px;
    margin-left: 50%;
}

.lb-heading {
    font-size: 32px;
}

.lightbox p {
    line-height: 30px;
}

.quote {
    font-style:italic;
    text-decoration: wavy underline rgb(80, 80, 80);
}

/* changes for individual character boxes */
#byleth img:hover {
    content: url(../images/skip-byleth.png);
    background-color: rgba(197,231,188,0.5);
}

#edelgard img:hover {
    content: url(../images/skip-edel-resized.png);
    background-color:rgba(208,37,37,0.5);
}

#dimitri img:hover {
    content: url(../images/skip-dimi-resized.png);
    background-color: rgba(27, 80, 173, 0.5);
}

#claude img:hover {
    content:url(../images/skip-claude-resized.png);
    background-color: rgba(241, 214, 13, 0.5);
}